/* Roboto Regular */
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Roboto Italic */
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Roboto Bold */
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    font-size: 18px;
}

.header, .banner, .footer{
    background-color: #1F2937;
}

button,
.action-call {
    background-color: #3882F6;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.banner-text > h2 {
    font-size: 48px;
    font-weight: 900;
}

.banner-text > p,
.header-links,
.footer {
    color: #E5E7EB;
}

.info {
    color: #1F2937;
}

.info > h3 {
    font-size: 36px;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
}

.quote > p > strong {
    font-style: normal;
    font-weight: 900;
}